.big-screen {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    display: block;
}
.small-screen {
    height: 50px;
    align-items: center;
    background-color: aqua;
    display: none;
}

/* When screen is below 900px */
@media (max-width: 900px) {
    .big-screen {
        display: none;   /* Hide big content on small screens */
    }
    .small-screen {
        display: block;  /* Show small content on small screens */
    }
}